.block1
{
    height: 235px;
    width: 750px;
    background-color: #2d7053;
}
.block3
{
    height: 1025px;
    width: 750px;
    background-color: #ffffff;
}
.block4
{
    height: 153px;
    width: 750px;
    background-color: #888888; 
}
.circle
{
    float: left;
    width: 141px;
    height: 141px;
    background: #ffffff;
    border-radius: 70px;
    margin: 47px 58px 47px 38px;
    display:inline-block
    
}
.text
{   
    float: left;
    width: 134px;
    height: 131px;
    display: inline-block;
    margin: 52px 0px 52px 0px;
    font-family: myriad-pro ,sans-serif;
    font-size: 28px;
    color: #ffffff
}
.menu
{   
    float: left;
    display: inline-block;
    width: 84px;
    height: 72px;
    margin: 82px 44px 81px 251px;
}
.line
{
    width: 84px;
    height: 12px;
    border-radius: 10px;
    display:inline-block;
    background: #ffffff;
    margin: 0px 44px 8px 0px;
}
.block2
{
    display: inline-block;
    width: 750px;
    height: 467px;
    background-image: url(/home-work/HW3/img/room.png);
}
.dark
{
    display: inline-block;
    width: 741px;
    height: 445px;
    background-image: url(/home-work/HW3/img/darkstyle.png);
    margin: 0px 0px 22px 9px;
}
.press1
{
    width: 341px;
    height: 74px;
    display: inline-block;
    background: #cb9223;
    margin: 345px 204px 47px 205px;
}
.text2
{
    display: inline-block;
    text-align: center;
    font-family: myriad-pro ,sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin: 28px 48px;
}
.foto
{
    float:left;
    display: inline-block;
    width: 247px;
    height: 247px;
    background-image: url(/home-work/HW3/img/foto.png);
    border-radius: 50%;
    margin-top: 73px;
    margin-left: 44px;
}
.text3
{
    float:left;
    display: inline-block;
    width: 210px;
    height: 27px;
    text-align: center;
    font-family: myriad-pro ,sans-serif;
    font-size:32px;
    color: #000000;
    margin-top: 134px;
    margin-left: 75px;
}
.text4
{
    float:left;
    display: inline-block;
    width: 245px;
    height: 50px;
    font-family: myriad-pro ,sans-serif;
    font-size:21px;
    color: #000000;
    margin-top: 29px;
    margin-left: 73px;
}
.text5
{
    float:left;
    display: inline-block;
    width: 590px;
    height: 166px;
    font-family: myriad-pro ,sans-serif;
    font-size:22px;
    color: #000000;
    margin-left: 44px;
    margin-top: 60px;
}
.text6
{
    float:left;
    display: inline-block;
    width: 545px;
    height: 32px;
    font-family: myriad-pro ,sans-serif;
    font-size:32px;
    color: #000000;
    margin-left: 44px;
    margin-top: 46px;
}
.text7
{
    float:left;
    display: inline-block;
    width: 256px;
    height: 190px;
    font-family: Arial;
    font-size:23px;
    color: #000000;
    margin-left: 44px;
    margin-top: 43px;
}
.press2
{
    width: 341px;
    height: 74px;
    display: inline-block;
    background: #cb9223;
    margin: 44px 91px 50px 218px;
}
.circle2
{
    float: left;
    width: 96px;
    height: 96px;
    background: #ffffff;
    border-radius: 70px;
    margin: 29px 0px 28px 45px;
    display:inline-block
    
}
.street
{
    float:left;
    display: inline-block;
    width: 199px;
    height: 17px;
    font-family: myriad-pro ,sans-serif;
    font-size:16px;
    color: #ffffff;
    margin-left: 184px;
    margin-top: 102px;
}
.tel
{
    float:left;
    display: inline-block;
    width: 136px;
    height: 15px;
    font-family: myriad-pro ,sans-serif;
    font-size:16px;
    color: #ffffff;
    margin-left: 46px;
    margin-top: 56px;
}
.mail
{
    float:left;
    display: inline-block;
    width: 144px;
    height: 17px;
    font-family: myriad-pro ,sans-serif;
    font-size:16px;
    color: #ffffff;
    margin-left: 38px;
    margin-top: 27px;
}
